POSTGRES_USER=echo
POSTGRES_PASSWORD=echo_dev
POSTGRES_DB=echo
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=echo_minio
MINIO_ROOT_PASSWORD=echo_minio_dev
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
